<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<input name="catId" id="catId" th:value="${shebeiCat.id}" type="hidden">
			<!--<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								分类名称：
								<select name="catId" id="catId">
									<option th:each="shebeiCat : ${listShebeiCat}"th:text="${shebeiCat.getName()}" th:value="${shebeiCat.getId()}" th:field="*{shebeiCat.id}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>-->
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="basis:group:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="basis:group:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('basis:group:edit')}]];
        var removeFlag = [[${@permission.hasPermi('basis:group:remove')}]];
        var datas_synchronization = [[${@dict.getType('synchronization_')}]];
        var datas_status = [[${@dict.getType('status_')}]];
		var status_type = [[${@dict.getType('status_type')}]];
        var prefix = ctx + "basis/groupShebei";
        var catid = $("#catId").val();
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add/"+catid,
                removeUrl: prefix + "/remove",
                queryParams: queryParams,
                modalName: "设备分组",
				search: false,
		        showExport: true,
                uniqueId: "id", //每一行的唯一标识，一般为主键列
                columns: [{
		            checkbox: true
		        }, {
                    field : 'shebei.numId',
                    title : '设备编号'
                }, {
					field : 'shebei.name',
					title : '设备名称'
				},
                {
					field : 'shebei.synchronization',
					title : '同步标识',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(datas_synchronization, value);
					}
				}, {
                    field : 'shebei.status',
					title : '设备状态',
                    align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(status_type, value);
                    }
                }, {
                    field : 'shebei.ip',
					title : '设备ip'
				}, {
                    field : 'shebei.gateway',
					title : '网关'
				}, {
                    field : 'shebei.mask',
                    title : '子网掩码'
				}, {
                    field : 'shebei.mac',
                    title : '媒体访问控制地址'
				}, {
                    field : 'shebei.port',
                    title : '端口号'
				}, {
                    field : 'shebei.pointX',
                    title : '设备横坐标'
				}, {
                    field : 'shebei.pointY',
                    title : '设备纵坐标'
				}, {
                    field : 'shebei.volume',
                    title : '音量'
				}, {
                    field : 'shebei.creatuserid',
                    title : '创建人'
                }, {
                    field : 'shebei.createtime',
                    title : '创建时间'
                }, {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        function queryParams(params) {
            var catId = $("#catId").val();
            return {
                catId:       catId,
                pageSize:       params.limit,
                pageNum:        params.offset / params.limit + 1,
                searchValue:    params.search,
                orderByColumn:  params.sort,
                isAsc:          params.order
            };
        }
    </script>
</body>
</html>