<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<!--<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								设备名称：<input type="text" name="name"/>
							</li>

							<li>
								设备编号：<input type="text" name="numId"/>
							</li>

							<li>
								设备ip：<input type="text" name="ip"/>
							</li>

							<li>
								：<input type="text" name="status"/>
							</li>

							<li>
								设备横坐标：<input type="text" name="pointX"/>
							</li>

							<li>
								设备纵坐标：<input type="text" name="pointY"/>
							</li>

							<li>
								所属区域id：<input type="text" name="regionId"/>
							</li>

							<li>
								网关：<input type="text" name="gateway"/>
							</li>

							<li>
								子网掩码：<input type="text" name="mask"/>
							</li>

							<li>
								：<input type="text" name="mac"/>
							</li>

							<li>
								：<input type="text" name="remark"/>
							</li>

							<li>
								同步标识0:未同步1:已同步：<input type="text" name="synchronization"/>
							</li>

							<li>
								音量：<input type="text" name="volume"/>
							</li>

							<li>
								创建人：<input type="text" name="creatuserid"/>
							</li>

							<li>
								创建时间：<input type="text" name="createtime"/>
							</li>

							<li>
								端口号：<input type="text" name="port"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>-->
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="basis:host:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="basis:host:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="basis:host:remove">
					<i class="fa fa-remove"></i> 删除
				</a>-->
				<!--<a class="btn btn-warning btn-edit disabled" onclick="outdownAll()" shiro:hasPermission="basis:host:outdown">
						<i class="fa fa-download"></i> 发送
				 </a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('basis:host:edit')}]];
        var removeFlag = [[${@permission.hasPermi('basis:host:remove')}]];
        //同步标识
        var datas_synchronization = [[${@dict.getType('synchronization_')}]];
        //可用状态
        var datas_status = [[${@dict.getType('status_')}]];
		var status_type = [[${@dict.getType('status_type')}]];
        var prefix = ctx + "basis/host";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "设备",
				search: false,
		        showExport: true,
                uniqueId: "id", //每一行的唯一标识，一般为主键列
                columns: [
                		/*{
		            checkbox: false
		        },*/
				{
					field : 'numId',
					title : '设备编号',
					sortable: true
				},
				{
					field : 'name', 
					title : '设备名称',
					sortable: true
				},
				{
					field : 'synchronization',
					title : '同步标识',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas_synchronization, value);
                    }
				},
				{
					field : 'status',
					title : '设备状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(status_type, value);
                    }
				},
				{
					field : 'ip', 
					title : '设备ip',
					sortable: true
				},
				{
					field : 'gateway',
					title : '网关',
					sortable: true
				},
				{
					field : 'mask',
					title : '子网掩码',
					sortable: true
				},
				{
					field : 'mac',
					title : '媒体访问控制地址',
					sortable: true
				},
				{
					field : 'port',
					title : '端口号',
					sortable: true
				},
				{
					field : 'pointX', 
					title : '设备横坐标',
					sortable: true
				},
				{
					field : 'pointY', 
					title : '设备纵坐标',
					sortable: true
				},
				{
					field : 'volume', 
					title : '音量',
					sortable: true
				},
				{
					field : 'creatuserid', 
					title : '创建人',
					sortable: true
				},
				{
					field : 'createtime', 
					title : '创建时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="reStart(\'' + row.id + '\')"><i class="fa fa-edit"></i>重启</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + removeFlag + '" href="#" onclick="outdown(\'' + row.id + '\')"><i class="fa fa-download"></i>同步时间/更新状态</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        function outdown(id) {
			$.modal.confirm("确认要同步时间吗?", function() {
                var url = prefix + "/outdown";
                var data = { "ids": id };
                $.operate.submit(url, "post", "json", data);
            });
		}
		function reStart(shebeId) {
			var url = prefix + "/restart";
			var data = { "shebeId": shebeId };
			$.operate.submit(url, "post", "json", data);
		}

		function outdownAll() {
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认要发送选中的" + rows.length + "条数据吗?", function() {
                var url = prefix + "/outdown";
                var data = { "ids": rows.join() };
                $.operate.submit(url, "post", "json", data);
            });
        }
    </script>
</body>
</html>