<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ctrl.yjjy.project.system.user.mapper.PlanMapper">
    <resultMap type="Plan" id="PlanResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>
	<sql id="selectPlanVo">
        select id, name from p_plan
    </sql>
    <select id="selectPlanList" parameterType="Plan" resultMap="PlanResult">
        <include refid="selectPlanVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
         </where>
    </select>
    <select id="selectPlanById" parameterType="String" resultMap="PlanResult">
        <include refid="selectPlanVo"/>
        where id = #{id}
    </select>
    <insert id="insertPlan" parameterType="Plan">
        insert into p_plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
        </trim>
    </insert>
    <update id="updatePlan" parameterType="Plan">
        update p_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>
	<delete id="deletePlanById" parameterType="String">
        delete from p_plan where id = #{id}
    </delete>
    <delete id="deletePlanByIds" parameterType="String">
        delete from p_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>